<div class="mainContainer">
    <h1 class="heading">Feed</h1>
    <div class="searchSortContainer">
        <input type="search" id="search" name="search" placeholder="Search here and press enter...">
        <div class="labelTextAndSort">
            <label class="sortText">Sort by:</label>
            <select id="dummy" name="dummyData" class="inputSort">
                <option value="" selected>India</option>
                <option value="">Australia</option>
                <option value="">England</option>
                <option value="">Germany</option>
                <option value="">France</option>
            </select>
        </div>
    </div>
</div>