<div class="mainContainer">
    <div class="cardContents">
        <div class="card">
            <h3 class="cardHeading">1mg</h3>
            <hr style="border-top: 3px dashed  rgb(211, 211, 214);color:transparent;"/>
            <h3 class="cardTitle">Product : </h3>
            <p class="productDescription"><b>Description :</b> Lorem ipsum dolor, sit amet consectetur 
           adipisicing elit. Sequi voluptatum accusamus optio nesciunt adipisci necessitatibus.</p>
        </div>
        <div class="card">
            <h3 class="cardHeading">1mg</h3>
            <hr style="border-top: 3px dashed  rgb(211, 211, 211);color:transparent;"/>
            <h3 class="cardTitle">Product : </h3>
            <p class="productDescription"><b>Description :</b> Lorem ipsum dolor, sit amet consectetur 
           adipisicing elit. Sequi voluptatum accusamus optio nesciunt adipisci necessitatibus.</p>
        </div>
        <div class="card">
            <h3 class="cardHeading">1mg</h3>
            <hr style="border-top: 3px dashed  rgb(211, 211, 211);color:transparent;"/>
            <h3 class="cardTitle">Product : </h3>
            <p class="productDescription"><b>Description :</b> Lorem ipsum dolor, sit amet consectetur 
           adipisicing elit. Sequi voluptatum accusamus optio nesciunt adipisci necessitatibus.</p>
        </div>
        <div class="card">
            <h3 class="cardHeading">1mg</h3>
            <hr style="border-top: 3px dashed  rgb(211, 211, 211);color:transparent;"/>
            <h3 class="cardTitle">Product : </h3>
            <p class="productDescription"><b>Description :</b> Lorem ipsum dolor, sit amet consectetur 
           adipisicing elit. Sequi voluptatum accusamus optio nesciunt adipisci necessitatibus.</p>
        </div>
        <div class="card">
            <h3 class="cardHeading">1mg</h3>
            <hr style="border-top: 3px dashed  rgb(211, 211, 211);color:transparent;"/>
            <h3 class="cardTitle">Product : </h3>
            <p class="productDescription"><b>Description :</b> Lorem ipsum dolor, sit amet consectetur 
           adipisicing elit. Sequi voluptatum accusamus optio nesciunt adipisci necessitatibus.</p>
        </div>
        <div class="card">
            <h3 class="cardHeading">1mg</h3>
            <hr style="border-top: 3px dashed  rgb(211, 211, 211);color:transparent;"/>
            <h3 class="cardTitle">Product : </h3>
            <p class="productDescription"><b>Description :</b> Lorem ipsum dolor, sit amet consectetur 
           adipisicing elit. Sequi voluptatum accusamus optio nesciunt adipisci necessitatibus.</p>
        </div>
    </div>
</div>


<!-- <div class="mainContainer">
    <div class="card">
        <h3 class="cardHeading">{{items.name}}</h3>
        <hr style="border-top: 3px dashed  rgb(247, 247, 250);color:transparent;"/>
        <img [src]="items.image" alt="Avatar" style="width:60%">
        <p class="productDescription">{{items.description}}</p>
        <p class="lastEdited">{{items.dateLastEdited}}</p>
    </div>
</div> -->