.cardContents{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 33%;
    height: max-content;
    /* height: 240px; */
    margin: 2px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
img {
    border-radius: 5px 5px 0 0;
}
.cardHeading{
    text-align: center;
    padding: 8px 8px;
}
.cardTitle{
    margin-top: 8px;
    padding: 5px 5px;
}
.productDescription{
    margin-top: 5px;
    padding: 5px 5px;
}

/* //=============For Mobile Devices================// */
@media (min-width: 360px) and (max-width: 767px) {
    .cardContents{
        flex-direction: column;
    }
    .card{
        width: 100%;
        height: max-content;
        margin: 10px;
    }
}

/* //=============For Tablets================// */
@media (min-width: 768px) and (max-width: 1024px){
    /* .cardContents{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card{
        width: 45%;
        height: max-content;
    } */
}